<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Счетчик очков</span>
    <span class="topbar-spacer"></span>
    <button mat-mini-fab (click)="addPlayer()" class="topbar-icon">
      <mat-icon aria-hidden="false">add</mat-icon>
    </button>
    <button mat-mini-fab (click)="clearGame()" class="topbar-icon">
      <mat-icon aria-hidden="false">delete</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list>
  <ng-container *ngFor="let player of players">
    <app-player [player]="player" (removed)="removePlayer($event)"></app-player>
  </ng-container>
</mat-list>
